@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<BreadsBakery.Models.StoreProduct>


<h2 class="catering-menu-title">Soups</h2>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {

            @if (product.Category == "Soup")
            {

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h3>@product.Name</h3>
                        <h5>@product.Description</h5>
                        <div class="pi-price">$@product.Price</div>

                    </div>
                </div>

            }

        }

    </div>
</div>


<h2 class="catering-menu-title">Sandwiches</h2>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {

            @if (product.Category == "Bread")
            {

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h3>@product.Name</h3>
                        <h5>@product.Description</h5>
                        <div class="pi-price">$@product.Price</div>

                    </div>
                </div>

            }

        }

    </div>
</div>