@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<BreadsBakery.Models.StoreProduct>


<h1>Products</h1>

<h2>Pastries</h2>

<h3 class="catering-menu-title">Sweet</h3>
<div class="container">
    <div class="row">

        @foreach (var product in Model)
        {

            @if (product.Category == "SweetPastry")
            {


                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h3>@product.Name</h3>
                        <h5>@product.Description</h5>
                        <div class="pi-price">$@product.Price</div>
                       
                    </div>
                </div>
            }

        }
    </div>
</div>

<h3 class="catering-menu-title">Savory</h3>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {

            @if (product.Category == "SavoryPastry")
            {

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h3>@product.Name</h3>
                        <h5>@product.Description</h5>
                        <div class="pi-price">$@product.Price</div>
                       
                    </div>
                </div>

            }

        }
    </div>
</div>

<h2 class="catering-menu-title">Cakes</h2>
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {

            @if (product.Category == "Cake")
            {

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h3>@product.Name</h3>
                        <h5>@product.Description</h5>
                        <div class="pi-price">$@product.Price</div>
                       
                    </div>
                </div>

            }

        }

    </div>
</div>


<h2 class="catering-menu-title">Breads</h2>
<div class="container">
    <div class="row">
        <br />
        <h3 class="catering-menu-title">Bread Of The Day</h3>
   
        <table class="table">
            <thead>
                <tr>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Oatmeal Walnut</td>
                    <td>Cereal Batard</td>
                    <td>Fig and Walnut</td>
                    <td>Herb Bread</td>
                    <td>Cranberry Challah</td>
                    <td>Marzipan Challah</td>
                    <td>Seeded Batard</td>
                </tr>
           
            </tbody>
        </table>

    </div>
    <div class="row">
        @foreach (var product in Model)
            {

            @if (product.Category == "Bread")
                {

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h3>@product.Name</h3>
                        <h5>@product.Description</h5>
                        <div class="pi-price">$@product.Price</div>
                       
                    </div>
                </div>

            }

        }
    </div>
</div>


