@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<BreadsBakery.Models.CateringProduct>


<h1>Catering Menu</h1>


<h3>Breakfast</h3>
@foreach (var product in Model)
{

    @if (product.Category == "Breakfast")
    {
        <div>
            <p>@product.Name</p>
            <p>@product.Description</p>
            <p>@product.Price</p>
            <p>@product.ImageUrl</p>
            <p>@product.ServingSize</p>

        </div>
    }

}


<h3>Lunch</h3>
@foreach (var product in Model)
{

    @if (product.Category == "Lunch")
    {
        <div>
            <p>@product.Name</p>
            <p>@product.Description</p>
            <p>@product.Price</p>
            <p>@product.ImageUrl</p>
            <p>@product.ServingSize</p>

        </div>
    }

}


<h3>Appetizers</h3>
@foreach (var product in Model)
{

    @if (product.Category == "Appetizers")
    {
        <div>
            <p>@product.Name</p>
            <p>@product.Description</p>
            <p>@product.Price</p>
            <p>@product.ImageUrl</p>
            <p>@product.ServingSize</p>

        </div>
    }

}


<h3>Desserts</h3>
@foreach (var product in Model)
{

    @if (product.Category == "Desserts")
    {
        <div>
            <p>@product.Name</p>
            <p>@product.Description</p>
            <p>@product.Price</p>
            <p>@product.ImageUrl</p>
            <p>@product.ServingSize</p>

        </div>
    }

}