@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<BreadsBakery.Models.CateringProduct>


<h1>Catering Menu</h1>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Place Order", "Create", "CateringOrder") 
}

@if (!User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Log In or Register To Place an Order", "Index", "Account")
}






<br />
<h3 class="catering-menu-title">Breakfast</h3>
<br />
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {

            @if (product.Category == "Breakfast")
            {

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h4>@product.Name -       @product.ServingSize</h4>
                        <h5>@product.Description</h5>

                        <h4 class="pi-price"> $@product.Price</h4>
                    </div>
                </div>

            }

        }

    </div>
</div>

<br />
<h3 class="catering-menu-title">Lunch</h3>
<br />
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {

            @if (product.Category == "Lunch")
            {

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h4>@product.Name -       @product.ServingSize</h4>
                        <h5>@product.Description</h5>

                        <h4 class="pi-price"> $@product.Price</h4>
                    </div>
                </div>

            }

        }

    </div>
</div>
<br />
<h3 class="catering-menu-title">Appetizers</h3>
<br />
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {

            @if (product.Category == "Appetizers")
            {

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h4>@product.Name -       @product.ServingSize</h4>
                        <h5>@product.Description</h5>

                        <h4 class="pi-price"> $@product.Price</h4>
                    </div>
                </div>

            }

        }

    </div>
</div>

<br />
<h3 class="catering-menu-title">Desserts</h3>
<br />
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {

            @if (product.Category == "Desserts")
            {

                <div class="col-md-4">
                    <div class="product-item">
                        <div class="pi-img-wrapper">
                            <img src="@product.ImageUrl" class="img-responsive">
                        </div>
                        <h4>@product.Name -       @product.ServingSize</h4>
                        <h5>@product.Description</h5>
                        
                        <h4 class="pi-price"> $@product.Price</h4>
                    </div>
                </div>

            }

        }

    </div>
</div>