
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model BreadsBakery.ViewModels.PlaceOrderViewModel



@using (Html.BeginForm())
{
   

    @Html.HiddenFor(model => model.CateringOrderId)

        <div class="checkbox" name="CateringProductId">
            @foreach (var product in @Model.CateringProduct)
            {
                <div class="form-group">

                <label>@product.Name</label>
                @Html.RadioButtonFor(model => model.CateringProductId, @product.CateringProductId)
                </div>
            }
        </div>
  
   
        <lable>Quantity</lable>
        @Html.TextBoxFor(m => m.Quantity, new {  required = "required" })


    <input type="submit" value="Place Order" />
}
